@model int 
<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Payment Successfully Made!</h1>
        Order Number: @Model <br /> <br />
        <img src="~/images/leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color: maroon">
        <br />
        Payment has been applied Successfully!
        <br />
        <a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-orderId="@Model">Back to Order Details</a>
    </div>
</div>